.row_container{
    display: flex;
    direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 10px;
}
.movieInfo{
    display: flex;
}

.time_location{
    display: flex;
    direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}